{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% block title %}{% endblock %}</title>

		<link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
		<link rel="stylesheet" href="{% static 'foundation/css/app.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		{% block style %}{% endblock %}
		
	</head>
	<body>

		{% block navbar %}
		<nav>
			<div class="top-bar">
				<div class="top-bar-left">
					<ul class="dropdown menu" data-dropdown-menu>
						<li class="menu-text">HTTP creatures</li>
						<li>
							<a href="/home/">Home</a>
					        <ul class="menu vertical">
					          <li><a href="#">One</a></li>
					          <li><a href="#">Two</a></li>
					          <li><a href="#">Three</a></li>
					        </ul>
						</li>
						<li><a href="/profile/">Profile</a></li>
						<li><a href="/ranch/">Ranch</a></li>
						<li><a href="/users/">Search</a></li>
						<li><a href="/logout/">Log Out</a></li>
					</ul>
				</div>
			</div>
		</nav>

		{% endblock %}

		<main>
			{% block content %}{% endblock %}
		</main>
		
		{% block footer %}
		<footer>
			<p>Footer</p>
		</footer>
		{% endblock %}
		
		<script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
		<script src="{% static 'foundation/js/vendor/what-input.js' %}"></script>
		<script src="{% static 'foundation/js/vendor/foundation.js' %}"></script>
		<script src="{% static 'foundation/js/app.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		{% block script %}{% endblock %}
	</body>
</html>