{% extends "forms_test/base.html" %}


{% block title %} Users {% endblock %}


{% block content %}

  <form action="" method="post">
    {% csrf_token %}
  	<!--{{ form.as_p }}-->
		<p>
			<label for="{{ form.username.id_for_label }}">{{ form.username.name }}</label>
			{{ form.username }}
		</p>

		<div onclick="toogle()"><p>Show advance</p></div>
		<div id="advance" style="display: none; visibility: hidden;">
			<p>
				{{ form.first_name.errors }}
				<label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
				{{ form.first_name }}
			</p>

			<p>
				<label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
				{{ form.last_name }}
			</p>
			<p>
				<label for="form.email.id_for_label">{{ form.email.label }}</label>
				{{ form.email }}
			</p>
		</div>
    <input type="submit" value="Submit" />

  </form>

  {% for i in users %}
    <p>{{i}}</p>
  {% endfor %}

{% endblock %}

{%  block script %}

<script type="text/javascript">
	function toogle(){
		element = document.getElementById("advance")
		console.log(element.style.visibility)
		if (element.style.visibility == 'hidden'){
			element.style.visibility = ''
			element.style.display = 'block'
		}
		else{
			element.style.visibility = 'hidden'
			element.style.display = 'none'
		}

	}
</script>

{% endblock %}
