<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <a href="/forms/home/">HOME</a>
    <p>Ranch</p>
    <p>{{ user }}</p>
    {% if creatures %}
      {% for creature in creatures %}
        <div>
          <p><b>{{ creature }}</b> {{ creature.race }} LVL {{ creature.level }}</p>
        </div>
      {% endfor %}
    {% else %}
      <p>No creatures</p>
    {% endif %}
  </body>
</html>
